html, body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.navbar .logo {
  justify-content: center;
}

.navbar .logo img {
  width: 80px;
  height: auto;
  content: url('public/images/logo.png');
}

.navbar .logo p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 15px;
  color: white;
}

/* Navbar base */
.navbar {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 1rem 2rem;
  position: fixed;
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
}

.navbar-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-button.active {
  color: #12c4d5;
  font-weight: bold;
  border-bottom: 2px solid #12c4d5;
}

/* Hamburger icon */
.menu-hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 101;
}

.menu-hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

/* Lista menu */
.menu-list {
  display: flex;
  flex-direction: row;
  top: 60px;
  background-color: #333;
  background: none;
  padding: 15px 20px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  gap: 10px;
}

.menu-list.active {
  opacity: 1;
  transform: translateY(0);
  display: flex;
  background-color: #333;
  pointer-events: auto;
}

.menu-list li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.menu-list li a:hover {
  color: #12c4d5;
}

section,
.panel {
  scroll-margin-top: 180px;
}

.panel {
  margin: 40px auto;
}

.sub-panel {
  margin-bottom: 190px;
}

#hero {
  padding: 140px 140px 40px 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.hero-content {
  max-width: 880px;
  width: 100%;
  overflow-y: auto;
}

.introduzione h2 {
  text-align: center;
}

.introduzione {
  text-align: justify;
}

.introduzione ul {
  padding-right: 30px;
}

p {
  white-space: pre-line;
}

h3 {
  font-weight: bolder;
}

.sample {
  font-size: 14px;
  color: #ccc;
  font-style: italic;
}

.content {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  background-color: #333;
  padding: 20px;
  box-sizing: border-box;
}

.footer p {
  font-size: small;
  color: white;
}

.contatto {
  display: flex;
  gap: 10px;
}

.contatto a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline;
}

.contatto a:hover {
  text-decoration: underline;
  color: #12c4d5;
}

@media (prefers-color-scheme: dark) {

  .navbar,
  .footer,
  .menu-list.active {
    background-color: #12c4d5;
  }

  .navbar .logo img {
    content: url('public/images/logo-dark.png')
  }

  #hero {
    background-color: black;
  }

  .nav-button {
    color: #12c4d5;
    background-color: #333;
  }

  .nav-button.active {
    color: white;
    transition: 200ms;
    background-color: #5c5c5c;
    font-weight: bold;
    border-bottom: 2px solid white;
  }
}

@media (max-width: 768px) {
  #hero {
    padding: 100px 0 50px 0;
  }

  section,
  .panel {
    scroll-margin-top: 140px;
  }

  .menu-list {
    list-style: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 100px;
    right: 0px;
    background-color: #333;
    padding: 20px;
    border-radius: 0 0 0px 20px;;
    transform: translateY(-10px);
    max-height: 90vh;
    max-width: 60%;
    overflow-y: auto;
  }

  .introduzione {
    max-width: 90%;
    margin: 0 auto;
    text-align: justify;
  }

  .sub-panel {
    margin-bottom: 150px;
  }
}